body {
	background-color: var(--bg-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--text-color);
	margin: 0;
}

main {
	margin: auto;
	width: 90%;
}

nav {
	background: var(--accent-1);
	padding: 5px 0px;
	padding-left: 5%;
	padding-right: 5%;
}

nav>a {
	margin-right: 15px;
}

nav>a:hover {
	opacity: 70%;
	transition: 0.3s;
}

table,
td,
th {
	border: thin solid var(--element-color);
	border-collapse: collapse;
}

a {
	text-decoration: none;
}

thead {
	background-color: var(--accent-2);
}

tbody>tr:nth-child(even) {
	background: var(--tbl-row-even);

}

tbody>tr:nth-child(odd) {
	background: var(--tbl-row-odd);

}

details {
	margin: 2px 0px;
}

summary {
	width: fit-content;
	cursor: pointer;
}

.pagination>a {
	margin: 0px 2px;
	padding: 0px 2px;
}

.pagination>a:link,
.pagination>a:active,
.pagination>a:visited,
.pagination>a:hover {
	color: inherit;
}

.pagination>#p {
	width: 50px;
}

.multi-select {
	user-select: none;
	border: thin solid #777;
}

.multi-select>div.options,
.search-element>div.options {
	background: var(--bg-color);
	border: solid thin #777;
	display: none;
	flex-direction: column;
	position: absolute;
}

.multi-select>div.options>span:hover,
.search-element>div.options>span:hover {
	background-color: var(--element-color);
	cursor: pointer;
}

.search-element {
	display: inline-block;
}
.search-element>div.selected {
	padding: 3px;
	border: thin solid var(--element-color);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	flex-direction: column;
	min-height: 5px;
	max-height: 50px;
	overflow-y: scroll;
}

.table-search {
	width: 100%;
	margin: auto;
}

.pill {
	background: var(--accent-1);
	padding: 3px;
	padding-right: 0px;
	border-radius: 7px;
	margin: 1px;
	width: fit-content;
}

.pill>button {
	border: none;
	background: none;
}

.pill>button:hover {
	cursor: pointer;
}