:root {
	--bg-color: #111;
	--text-color: #fff;
	--text-color-invert: #000;
	--element-color: #444;

	--bg-accent: #1d3b2b;
	--accent-1: #486656;
	--accent-2: #209651;
	--accent-3: #48b375;

	--tbl-row-odd: #39404b;
	--tbl-row-even: #1c293a;

	--link: #00b7ff;
	--link-visited: #c6efff;
}

a {
	color: var(--link);
}

a:visited {
	color: var(--link-visited);
}

input {
	color: var(--text-color);
}