:root {
	--bg-color: #fff;
	--text-color: #000;
	--text-color-invert: #fff;
	--element-color: #ddd;

	--bg-accent: #cde9d4;
	--accent-1: #8af1b9;
	--accent-2: #59d678;
	--accent-3: #48af62;

	--tbl-row-odd: #cce2f5;
	--tbl-row-even: #a5c1d8;

	--link: #0066ff;
	--link-visited: #8200be;

	--color-good: #0edd0e;
	--color-good-alt: #b0fab0;
	--color-ok: #6be9f1;
	--color-ok-alt: #d0fcff;
	--color-warn: #ffae00;
	--color-warn-alt: #ffe9ba;
	--color-bad: #ff0000;
	--color-bad-alt: #ffb3b3;
}

button {
	color: var(--text-color) !important;
}

.btn-bad {
	color: var(--text-color-invert) !important;
}