:root {
	--bg-color: #fff;
	--text-color: #000;
	--text-color-invert: #fff;
	--element-color: #becdd1;

	--bg-accent: #dddddd;
	--accent-1: #bababa;
	--accent-2: #88bcdf;
	--accent-3: #6888c4;

	--tbl-row-odd: #e7e7e7;
	--tbl-row-even: #d6d6d6;

	--link: #0066ff;
	--link-visited: #8200be;

	--color-good: #0edd0e;
	--color-good-alt: #b0fab0;
	--color-ok: #6be9f1;
	--color-ok-alt: #d0fcff;
	--color-warn: #ffae00;
	--color-warn-alt: #ffe9ba;
	--color-bad: #ff0000;
	--color-bad-alt: #ffb3b3;
}

.funny {
	position: relative;
	background-image: url(../img/gadget.png) !important;
	background-repeat: no-repeat !important;
	background-size: contain;
	min-height: 64px;
	max-height: 128px;
	height: 5%;
	min-width: 64px;
	width: fit-content;
	margin-left: calc(100vw - 80px);
}
