:root {
	--bg-color: #111;
	--text-color: #fff;
	--text-color-invert: #000;
	--element-color: #444;

	--bg-accent: #2d1d3b;
	--accent-1: #594866;
	--accent-2: #8c2096;
	--accent-3: #a748b3;

	--tbl-row-odd: #39404b;
	--tbl-row-even: #1c293a;

	--link: #00b7ff;
	--link-visited: #c6efff;

	--color-good: #099209;
	--color-ok: #379bb9;
	--color-warn: #966600;
	--color-bad: #ca0000;
}

.funny {
	position: absolute;
	background-image: url(../img/the_voice.png) !important;
	background-repeat: no-repeat !important;
	background-size: contain;
	min-height: 64px;
	max-height: 128px;
	height: 5%;
	min-width: 64px;
	width: fit-content;
	margin-left: 64px;
	margin-top: calc(100vh - 150px);
}

button {
	color: var(--text-color) !important;
}