:root {
	--bg-color: #111;
	--text-color: #fff;
	--element-color: #444;

	--accent-1: #486656;
	--accent-2: #1a7741;

	--tbl-row-odd: #39404b;
	--tbl-row-even: #1c293a;

	--link: #00a030;
	--link-visited: #79f19d;
}

a {
	color: var(--link);
}

a:visited {
	color: var(--link-visited);
}

input {
	color: var(--text-color);
}